body{
    background-color:black;
color:white}
      
            
.thekeypad{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 35px;
    grid-gap: 5px;
    max-width:120px;
    float:left;
}

.keypad_btn{
    background-color:grey;
    opacity: 0.75;
    color: goldenrod;
}

.console{text-align: center}

#points1{background-color:darkcyan; float:left; height:100px; width: 400px; font-size: 20px; font-family:Verdana, Geneva, Tahoma, sans-serif;}
#points2{background-color:darkgreen; float:left; height:100px; width: 400px; font-size: 20px; font-family:Verdana, Geneva, Tahoma, sans-serif;}

#game{height:15%; font-family:fantasy; font-size:80px; text-align: center; color:goldenrod}

.O{background-color:gold;}
.M{background-color: brown; color:brown}

#hideaway{font-size:80px; text-align: center; background-color: red; color:white;font-family:fantasy}

#win{font-size:80px; text-align: center; color:green; font-family:fantasy}

.T{background-color:fuchsia;}

.PLayer{font-weight: bold; text-align: center;}