<html>
    <head>
        <link rel="stylesheet" type="text/css" href={{ url_for("static", filename="css/main.css") }}>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
        <script type="text/javascript" src={{ url_for("static", filename="js/main.js") }}></script>
    </head>
    <body>
        <div id="game"> <b> Rogue Web </b></div>

        <div id="hideaway" style="display:none;">GAMEOVER</div>
        <div id="win" style="display:none;">YOU WON</div>

        <div id="console" style="font-family: monospace;">
            {% for i in range(n_row) %}
            <div style="height:18px">
                {% for j in range(n_col) %}
                <span class='{{mapdata[i][j]}}' id="{{ 'cell {}-{}'.format(i,j) }}"> {{ mapdata[i][j] }} </span>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        
        <div class='points1'>
            <div class ="Player"> Joueur 1  </div>
            <div id ="life1"> Points de vie : {{playerdata1.life}}  </div>
            <div id="money1"> Pièces : {{playerdata1.money}} </div>
            <div id="weapons1"> Armes : {{playerdata1.weapons}} </div>
        </div>

        <div class='points2'>
            <div class ="Player"> Joueur 2  </div>
            <div id ="life2"> Points de vie : {{playerdata2.life}}  </div>
            <div id="money2"> Pièces : {{playerdata2.money}} </div>
            <div id="weapons2"> Armes : {{playerdata2.weapons}} </div>
        </div>
        
        <div class="thekeypad">
            <div class="key"></div>
            <div class="key"><input id="go_n" class="keypad_btn" type="button" value="&#9650"> </div>
            <div class="key"></div>
            <div class="key"><input id="go_w" class="keypad_btn" type="button" value="&#9664"></div>
            <div class="key"></div>
            <div class="key"><input id="go_e" class="keypad_btn" type="button" value="&#9654"></div>
            <div class="key"></div>
            <div class="key"><input id="go_s" class="keypad_btn" type="button" value="&#9660"></div>
            <div class="key"></div>
        </div>

    </body>
</html>